<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>So You Wanna Know More, Huh?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
   <!-- <link href = "AboutMeStyle.css" rel="stylesheet"> -->
   <link href="css/bootstrap.css" rel="stylesheet"> <!-- THE FORMATTING IS IN THIS STYLE SHEET -->
   <!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->
   <link href="css/docs.css" rel="stylesheet">
   <!--  <link href="js/google-code-prettify/prettify.css" rel="stylesheet"> -->

   <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
   <!-- [if lt IE 9] -->
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <!--  [endif] -->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">




  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
  
  <!-- Navbar
    ================================================== -->
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./About Me Site.html">Home</a>
              </li>
              <li class="">
                <a href="./AboutMePage.html">About Me</a>
              </li>
              <li class="">
                <a href="./PortfolioPage.html">Portfolio</a>
              </li>
              <li class="">
                <a href="./ResumePage.html">Resume</a>
              </li>
             <!-- <li class="">
                <a href="./ContactMePage.html">Contact</a>
              </li> -->

              <li class="divider-vertical"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
  
  <!--------------- HEADING --------------------------->
  <section id="global">
  <header class="jumbotron subhead" id="overview">
  <div class="AboutMeSub">
 
  	<h1>Fun Facts</h1>
  	
  <div class="span4">
  	<img src= "graphics/graduation.jpg">
  </div>

 <p>I graduated in 2011 from Auburn University with a degree in Computer Science and a concentration in Fine Art</p>
 <p>While at Auburn I was a member of the Auburn Volleyball team, and the Chi Omega sorority </p>
 
 <div class="span4">
  	<img src= "graphics/nerd.jpg">
 </div>
 <p>I have a love and appreciation of all things nerdy: movies, books, television shows...AND I'M PROUD OF IT</p>
 <p>{I even attended Dragon*Con last year, Atlanta's version of ComiCon cue picture on the right}</p>
 
 </div> 
