<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>So You Wanna Know More, Huh?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
   <!-- <link href = "AboutMeStyle.css" rel="stylesheet"> -->
   <link href="css/bootstrap.css" rel="stylesheet"> <!-- THE FORMATTING IS IN THIS STYLE SHEET -->
   <!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->
   <link href="css/docs.css" rel="stylesheet">
   <!--  <link href="js/google-code-prettify/prettify.css" rel="stylesheet"> -->

   <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
   <!-- [if lt IE 9] -->
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <!--  [endif] -->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">




  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
  
  <!-- Navbar
    ================================================== -->
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./About Me Site.html">Home</a>
              </li>
              <li class="">
                <a href="./AboutMePage.html">About Me</a>
              </li>
              <li class="">
                <a href="./PortfolioPage.html">Portfolio</a>
              </li>
              <li class="">
                <a href="./ResumePage.html">Resume</a>
              </li>
             <!-- <li class="">
                <a href="./ContactMePage.html">Contact</a>
              </li> -->

              <li class="divider-vertical"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
  
  <!--------------- HEADING --------------------------->
  <section id="global">
  <header class="jumbotron subhead" id="overview">
  <div class="AboutMeSub">
 
  	<h1>Fun Facts</h1>
  	
  <div class="span4">
  	<img src= "graphics/graduation.jpg">
  </div>

 <p>I graduated in 2011 from Auburn University with a degree in Computer Science and a concentration in Fine Art. While at Auburn I was a member of the Auburn Volleyball team, and the Chi Omega sorority </p>
 
 <div class= "row">
 <div class= "span8">
  <p>I have a love and appreciation of all things nerdy: movies, books television shows. Meeting Doc from Back to the Future last year at Dragon*Con was one of the most thrilling experiences of my life!</p>
 </div>
  <div class="span4">
  	<img src= "graphics/nerd.jpg">
 </div>
 </div>
 
 <div class= "row">
  <div class= "span4">
  <img src= "graphics/JuliaMakeup.jpg">
 </div>
 <div class= "span8">
 	<p>I have known for a very long time that I would need to do something creative everyday. My life's goal is to find a career that will allow me creative freedom. I draw inspiration from everywhere and try not to limit myself in terms of medium. I have always desired to do CGI in movies, and will eventually do this for my career.</p>
 </div>
 </div>
 <div class= "row">
 <div class= "span8">
 <p>I think New York City is one of the coolest places on planet Earth. Moving up here from the South has been one of my greatest accomplishments so far. I'm ready to take on the world!</p>
 </div>
 <div class= "span4">
 <img src= "graphics/NewYorkCity.jpg">
 </div>
 </div>
 </div>
 
   <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/application.js"></script>


  </body>
</html>

